<!-- shop/templates/shop/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>E-commerce Site</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/styles.css' %}">
</head>
<body>
    <header>
        <h1>E-commerce Site</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'view_cart' %}">Cart</a>
                <a href="{% url 'order_history' %}">Order History</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>